[2015-12-22 18:02] joernhees opened #2 "default app via public appstore"
It's cool to see that there now seems to be an app and that it's even open source :+1:, but self-compiling seems like an enormous hurdle that only relatively few teams will (be able to) take. Lacking the iOS dev knowledge (and time to acquire it), I'd be willing to trust you guys and use a default app from the public AppStore (and even pay a couple EUR for it)...

If you need this to properly encr

[2016-01-04 14:47] coreyhulen commented on #2
The app is now in the app store.

[2016-01-04 16:00] joernhees commented on #2
not for me...

![img_3016](https://cloud.githubusercontent.com/assets/464192/12093687/9d8b7cd4-b304-11e5-8fd4-e3f3a9b9195f.PNG)

[2016-01-04 18:26] coreyhulen commented on #2
I've re-opened the issue.

I'm guessing you're in a non-US app store?  We're in the process of submitting to all countries.

[2016-01-04 20:46] joernhees commented on #2
ah ok, i'm in the german app store...

and it is available now... thanks a lot ;)

[2016-01-04 20:46] #2 closed

[2016-01-11 22:24] faroit opened #3 "Support gitlab/SSO authentification"
Mattermost supports authentification through [single-sign on via Gitlab](http://forum.mattermost.org/t/preview-ldap-sso-support/211). It seems like the iOS app currently is unable to redirect to gitlab for authentification.

Can this be supported maybe through a modal webkit sheet?

[2016-01-15 14:31] rejozenger opened #4 "adding support for htaccess in front of mattermost"
This is a feature request, not a bug report.

It'd be nice if the iOS application would be able to handle an htaccess in front of Mattermost. I have Mattermost running nicely and browsers on both desktop and mobile platforms (obviously) interact correctly with htaccess configured to protect the Mattermost interface. If the users wants to access the interface, the browsers prompts the user for the

[2016-01-21 08:15] ewjoachim commented on #3
For now, it's not only that we can't use the Gitlab SSO on the app, but we can't even login because mattermost won't allow creating a password for direct access when GitLab SSO is activated :/

[2016-01-22 03:23] it33 commented on #3
Working on adding this, sorry it didn't make it in the first release,

[2016-01-22 06:22] ewjoachim commented on #3
Sorry for sounding harsh ^^' Thanks for your amazing work, mattermost is a really nice project, and I can't wait toseewhat's coming next :)

[2016-01-22 11:06] finius opened #5 "iOS App: no auto scrolling of the chat history inside the channel (new posts aren't visible without scrolling)"
When having a channel open and recieving/sending a new post, this new post is inserted below the textbox. So it is unreadable/unseeable without scrolling the screen. With every new post one has to scroll to read the new entries (even the own), because it's inserted below the TextBox.
One could say, that no auto scrolling of the chat history is currently available which is very hard in longer conve

[2016-01-22 13:21] finius opened #6 "no support for LDAP authentification yet"
When trying to login to an RC Version of Mattermost Enterprise Edition 1.3 (Build Number: ent-rc1-2) no authentification is possible if Mattermost expects LDAP credentials.

[2016-01-22 13:35] finius opened #7 "iOS client should (like the website itself) connect automatically to first and only existing team on a server"
When opening a mattermost server main page (highest level website / team creation page) it shows directly the login to the one and only existing Team site, if  "Include this team in the Team Directory" inside the Teams Settings is set to "Yes" and inside the Teams Settings section of the System Console, the "Enable Team Directory" is set to true.
This is a smart behaviour and would pretend only on

[2016-01-25 15:45] heikobornholdt commented on #3
Hello, I'm also interested in SSO through GitLab :+1:

[2016-01-28 20:28] pdnellius commented on #3
Love the product, can't wait for SSO via GitLab!

[2016-02-01 10:15] GhostLyrics commented on #6
Seems to be implemented and merged into master with 5acc8b66ffd764ce677a888c9fbbe4e7ea0a8816.

[2016-02-03 13:41] anton48 opened #10 "ios client and push notifications"
Hi!

I'm trying to setup notifications to ios clients with own push proxy server (https://github.com/mattermost/push-proxy). The problem is that platform server is only sending email notifications and not sending messages to the proxy at all (although 'Send Push Notifications' set to true).

I guess that it is so since ios client from github (which I compiled and downloaded to iphone from Apple vi

[2016-02-03 16:04] anton48 commented on #10
I was right: ios application compiled from sources at github just not sending the deviceid at the login.

On the other hand it tries to send deviceid later via attach_device method, but platform server doesn't accept that for some reason:

[login.txt](https://github.com/mattermost/ios/files/115937/login.txt)

So, I modified 'sessions' table manually and put deviceid there. After that delivery of p

[2016-02-03 18:18] anton48 commented on #10
finally I decided to compile platform server itself from sources at github too. with this version ios client works almost ok: I can see correct deviceid at the 'sessions' table and push notifications are delivered to the iphone, although counter not incremented for some reason (shows "1" no matter how many messages were sent).

[2016-02-03 18:18] #10 closed

[2016-02-08 16:22] it33 commented on #6
It's in but not released, requires a change to Mattermost server that's coming out with Feb 16th release, once that is in, we can create a new release for iOS

[2016-02-09 22:27] zzt4 opened #11 "View should change size when keyboard is shown"
The View should change it's size when the keyboard is shown. When the keyboard is shown, you lose the interface buttons at the top of the screen since it is pushed off-screen. Right now the only way to get those buttons back is to either scroll all the way up to the top of all of the messages, or to hide the keyboard.

[2016-02-11 10:33] GhostLyrics commented on #3
Is this also in the post gitlab-8.5 release?

[2016-02-11 11:27] it33 commented on #3
Yes, the Mattermost release in GitLab 8.5 will support the Mattermost iOS app with GitLab SSO

[2016-02-12 15:59] youknowjack commented on #6
Will the Feb 16th release support logging in through gitlab? We are piloting Mattermost with the gitlab-based login. (Our gitlab login is LDAP-based, FWIW.)

[2016-02-12 16:37] GhostLyrics commented on #6
@youknowjack same situation here. Do you have mattermost as part of gitlab-omnibus?

[2016-02-12 16:41] youknowjack commented on #6
@GhostLyrics yep... http://doc.gitlab.com/omnibus/gitlab-mattermost/

[2016-02-12 16:45] it33 commented on #6
LDAP/AD SSO (with pre-released Enterprise Edition) and GitLab SSO work if you compile `master` on the app and the server.

There is a breaking change to mobile APIs, so SSO needs the Mattermost server shipping Feb 16 before the reference implementation of the iOS app can be pushed to iTunes.

See [changelog](https://github.com/mattermost/ios/blob/master/CHANGELOG.md) for details.

[2016-02-16 22:21] PSchwarck opened #12 "iOS Mattermost app should be able to connect to more than one team / server"
Right now the mattermost iOS app can connect to a single team / server. But for some use case (bigger Enterprise, several different servers) the iOS should support this as well.

[2016-02-18 16:14] pdnellius opened #13 "False Positive: Invalid certificate"
Mattermost for iOS is returning "certificate for this server is invalid" under the team URL box. This is a signed TLS1.2 cert that should be working. Including a screenshot from chrome inspector via web:

![screen shot 2016-02-18 at 11 11 12 am](https://cloud.githubusercontent.com/assets/5667111/13149753/aba80eb4-d630-11e5-8899-743910d99f37.png)

[2016-02-18 16:16] pdnellius commented on #13
![img_1004 copy](https://cloud.githubusercontent.com/assets/5667111/13149854/14adc548-d631-11e5-995f-19f4793f7f29.png)

[2016-02-19 06:23] PSchwarck opened #14 "Caching old messages in mobile App? (like slack, whatsapp etc...) + add (configurable) connection time out."
When starting the iOS App 2.0, the app is syncing its data. This usually takes quite a while. Another thing is, that when the device is "offline" (e.g. flightmode), I'm not able to read my already received messages on my mobile app. When Offline and the app gets started, It looks like there is no time out set, when no internet connection (circle keeps spinning since minutes). Could you cache the t

[2016-02-22 22:42] yuters commented on #3
Yeah I just installed this today and the redirect seems to work with Gitlab 8.5.

However... when you have Two-Factor Authentication on Gitlab: if you leave the application to go look for the code in Google Authenticator and come back in Mattermost, the modal for the login disappears and you have to start over.

Then you have to beat the clock and get back to that point under the 30 sec when the c

[2016-02-23 01:14] it33 commented on #3
Thanks @yuters, thanks to all for the feedback!

[2016-02-23 01:14] #3 closed

[2016-02-24 12:27] sadortun commented on #12
Also, it seems that we cant switch between team s while in the app using GitLab SSO

[2016-02-24 15:32] rennhak commented on #13
+1

[2016-02-24 16:04] dmigous commented on #13
+1

[2016-02-25 10:59] PSchwarck commented on #14
https://mattermost.uservoice.com/forums/306457-general/suggestions/12471465-caching-old-messages-in-mobile-app-like-slack-w

[2016-02-25 17:44] jaapvdv opened #15 "Photo's taken on iPhone 6S Plus are too large to be sent/attached."
Error:
Unable to upload file. File is too large.

Sending images photo library, taken on previous phones or different camera's is no problem.

Turning live photo's off, or using an app like Lively (selecting one frame to send/share) works fine.

iPhone 6S Plus / iOS 9.2.1

[2016-02-25 18:24] esethna commented on #15
Thanks for bug report @jaapvdv. We are investigating. [Ticket can be tracked in JIRA](https://mattermost.atlassian.net/browse/PLT-1964).

[2016-02-26 17:26] #6 closed

[2016-02-26 17:27] lfbrock commented on #4
Hi @rejozenger,

Could I have your help [contributing a feature request](http://www.mattermost.org/feature-requests/) on this?

[2016-02-26 17:27] #4 closed

[2016-02-26 17:28] #15 closed

[2016-02-26 17:31] lfbrock commented on #5
Hi @finius,

Just to confirm, this is when you are scrolled up in a channel and a new message comes into the same channel?

We have a [Jira ticket](https://mattermost.atlassian.net/browse/PLT-1917) to add a "New Messages" indicator when there are new messages below, would this solve your issue?

[2016-02-26 17:59] lfbrock commented on #12
You can upvote this feature here: https://mattermost.uservoice.com/forums/306457-general/suggestions/10975938-ios-app-should-allow-multiple-connections

[2016-02-27 01:42] finius commented on #5
Yes, I think so. But the channel should not auto scroll down when a new message came in. That would be very annoying.But some kind of hint or popup where one can click on if wanted to jump to the latest entry would be cool.

[2016-02-27 06:37] PSchwarck commented on #5
Hm. On top of a highlight, that new messages are coming in, I prefer that that conversation scrolls, WHEN I am already on the latest message. When I'm not there yet, it freaks me out, when I am automatically put to the latest message, and have to scroll up again. To me this behavior depends on, where I am currently reading. What do you think?

[2016-02-27 06:44] PSchwarck opened #16 "When opening an attachment in iOS-App, Error message 'You do not have the appropriate permissions'"
When opening an attachment via 'download' in iOS-App, Error message 'You do not have the appropriate permissions', when using 'get public link' the attachments gets opened in safari.

{"id":"api.context.permissions.app_error","message":"You do not have the appropriate permissions","detailed_error":"userId=","request_id":"y1poxduqtjnktj8u5rm1n8ankr","status_code":403,"is_oauth":false}

[2016-02-29 18:05] lfbrock commented on #14
Closing issue, please upvote feature request here: https://mattermost.uservoice.com/forums/306457-general/suggestions/12471465-caching-old-messages-in-mobile-app-like-slack-w

[2016-02-29 18:05] #14 closed

[2016-02-29 18:06] lfbrock commented on #13
Created a ticket in [Jira](https://mattermost.atlassian.net/browse/PLT-2169) to track this issue.

[2016-02-29 18:06] #13 closed

[2016-02-29 18:16] lfbrock commented on #5
I think what @PSchwarck described is the existing behaviour. If you are at the bottom of the channel, the view scrolls to show new messages and if you are not at the bottom of the channel, your view should stay where it is.

The new feature would keep the existing behaviour, but would add a floating indicator to show there are new messages below. So @finius, it would not automatically scroll to th

[2016-02-29 18:16] #5 closed

[2016-02-29 18:40] finius commented on #5
Great, Thanks!

[2016-03-02 10:06] frdmn opened #17 "Modal missing when trying to pick theme colors"
I just discovered a little bug on the iOS app. When you try to open the color picker to choose a color from for a custom theme and you focused one of the text areas before (tap into them), the whole theme modal disappears and the only thing left shown is the actual color picker:

I tried to reproduce the problem in the [yuya-oc/electron-mattermost](https://github.com/yuya-oc/electron-mattermost) a

[2016-03-02 20:14] rennhak commented on #13
Thanks!

[2016-03-08 11:10] GhostLyrics opened #18 "App should not suppress iOS predictive keyboard"
In recent versions of iOS predictive keyboard has been introduced. However it is for some reason not possible to use the app with this. (No third party keyboard here, I'm just using the built in default.)

This results in a lot of typos. :(

[2016-03-24 16:39] toogy opened #19 "The app gives me a white screen after giving team URL"
When I launch the app I get the screen that asks for the team URL.

Once I submit that form I get a white screen and nothing else :disappointed:

Am I missing something?

I use the last version on an iPhone 5C

[2016-03-28 13:37] #12 closed

[2016-03-28 13:39] lfbrock commented on #18
Tracking this issue in Jira: https://mattermost.atlassian.net/browse/PLT-98

[2016-03-28 13:39] #18 closed

[2016-03-28 13:41] lfbrock commented on #19
Hi @toogy, I think this is fixed now - if you were using mattermost/platform:latest or mattermost/platform:dev there was a bug on master, but it's now been fixed.

[2016-03-28 13:41] #19 closed

[2016-03-28 13:42] lfbrock commented on #16
This should be fixed now.

[2016-03-28 13:42] #16 closed

[2016-03-28 13:43] toogy commented on #19
Oh actually, updating my iPhone to the last iOS version fixed it

[2016-03-28 13:47] lfbrock commented on #17
I think this has been fixed, can't reproduce on the latest version.

[2016-03-28 13:47] #17 closed

[2016-03-28 17:05] lfbrock commented on #11
Tracking this issue in Jira: https://mattermost.atlassian.net/browse/PLT-2460

[2016-03-28 17:05] #11 closed

[2016-03-30 17:52] juansalcedo opened #21 "Default iOS autocorrect doesn't work in the input box"

[2016-03-31 09:46] frdmn commented on #17
Nope, can't reproduce either :+1:

[2016-04-05 23:15] ipsecguy commented on #19
Did not fix for me. Android Apps work, iPhone and iPad have the white screen after giving team URL. Using Docker, may it is fixed in a later version?

Mattermost Team Edition T0 Version: 2.1.0 Build Number: 6562 Build Date: Thu Mar 17 16:17:34 UTC 2016 Build Hash: 2cd006474ec8a808b2ea2b0502a842f44cb0b127

[2016-04-06 00:25] lfbrock commented on #19
Hi @ipsecguy, I think the build you are on might be the issue. The official v2.1 build was Mar 14, people who got the Mar 17 build seem to be hitting this issue.

[2016-04-06 13:43] sadortun opened #22 "Gitlab Connect redirect to Safari and never returns"
Hi,

When logging in with Gitlab Connect, the gitlab login is done in Safari, and then Safari il redirected to Mattermost team page URL, but never say return to the App.

When returning to the app manually, the login screen is shown again

[2016-04-19 13:17] Korni22 commented on #22
Have you tried reinstalling the application?

One of our user had this problem and it was solved by reinstalling the app 👍

[2016-04-19 13:42] sadortun commented on #22
I just did, and it working correctly now.

Thanks!

[2016-04-19 13:52] GhostLyrics commented on #22
Worked for me too.
*Hopefully this is not a reoccurring problem.*

[2016-04-19 23:55] sadortun commented on #22
@Korni22 @GhostLyrics sadly, it looks a recurring problem :(

I was able to connect to a first team this morning, but when switching team I had the same issue.

[2016-04-20 00:24] sadortun commented on #22
I've done a few more tests.

Logging out, changing the team URL and logging back is working.
Switching teams using the menu doesn't work and redirect to Safari

[2016-04-27 00:07] cloudmode opened #23 "app gets 404 for http://107.170.37.135/api/v3/users/initial_load against a 2.2 server"
app gets 404 for http://107.170.37.135/api/v3/users/initial_load against a 2.2 server.

running the mattermost/mattermost-docker server on ubuntu 14. getting 404 not found returned by the server. according to the github repository, the server was upgraded to 2.2.0 8 days ago. Is there an upgrade required for the ios app too?

thanks in advance.

[2016-04-27 05:15] it33 commented on #23
Hi @cloudmode, sorry, we forgot to add a warning that iOS is being overhauled to work with [Mattermost 3.0 server](http://www.mattermost.org/upgrading-to-mattermost-3-0/), which has new APIs and won't work with 2.x, you can recompile using the 2.0 release tag and it should work again.

[2016-04-28 04:20] mackelito opened #24 "Edit post menu out of view"
Clicking edit on the last post makes the menu end up outside view

[2016-04-28 12:09] mackelito opened #25 "Not a complaint!"
The iOS app is written i swift with is cool and all... but I see that the desktop app is done with electron so I was just wondering if you guys have looked at Ionicframework for the apps?

[2016-04-28 12:12] mackelito opened #26 "Change "Done" to send"
When writing a message you have a "done" button next to the input field.
Clicking that closes the keyboard.

I would rather see that it sends the message (stolen from other apps such as message, slack, whatsapp and many more)

[2016-04-28 12:14] mackelito commented on #25
Note: This is a egoistic request actually... because I want to be able to contribute! ;)

[2016-04-28 18:39] lfbrock commented on #26
Hi @mackelito, we were actually thinking of changing the enter button to create a new line in a message:
https://mattermost.atlassian.net/browse/PLT-2331

Some other users wanted to be able to create new lines on mobile, and suggested we change "enter" to create a new line and then the send icon will send the message.

What are your thoughts on this?

[2016-04-28 18:41] lfbrock commented on #25
Hi @mackelito, no I don't think we looked at using electron for the apps - I think the goal is to eventually move to completely native apps, but this isn't planned for the near future.

The forums might be a better place to discuss questions like this: forum.mattermost.org

[2016-04-28 18:41] #25 closed

[2016-04-28 18:44] lfbrock commented on #24
Hi @mackelito, can you check what version of Mattermost you are on from Main Menu > About Mattermost on a web browser (not the iOS app)?

[2016-04-28 18:48] lfbrock commented on #21
Fixed by https://github.com/mattermost/platform/pull/2730

[2016-04-28 18:48] #21 closed

[2016-04-29 08:44] mackelito commented on #24
Mattermost Team Edition

Version:2.2.0
Build Number:6671
Build Date:Fri Apr 15 18:40:19 UTC 2016
Build Hash:8e883ad2f516820942cc0131241268c1ea909ff3

[2016-04-29 08:46] mackelito commented on #25
Ah ok... cool... I´ll have a look around in the forum 👍

Just to clarify..
Electron = Desktop apps
Ionic = Mobile apps

[2016-04-29 08:51] mackelito commented on #26
I think that is a great idea but I believe we are talking about different buttons :)

- return/enter, should create a new line
- Done should be changed into Send and submit the text.

:)

[2016-05-04 12:29] #23 closed

[2016-05-04 18:14] lfbrock commented on #24
Thanks @mackelito, just tested this and I think it's fixed in v3.0 which will be released May 16th. If you run into the issue on v3.0 please reopen?

[2016-05-04 18:14] #24 closed

[2016-05-05 00:36] asaadmahmoodspin commented on #26
Hey @mackelito I would think that you're probably talking about the default keyboard toolbar that appears.
Note that most of the apps don't actually have that toolbar and it doesn't make sense since it allows you to go back and forth between different inputs and tap done when you're entering data.

The send button you see in most of those apps is actually part of our UI aswell, We just need to hid

[2016-05-05 16:23] lfbrock commented on #26
Hi @mackelito, would you be able to open a [feature request](http://www.mattermost.org/feature-requests/) on this instead?

We discussed and agree your suggestion makes sense, but I don't think we can add this until we make the apps fully native.

[2016-05-05 22:24] lfbrock commented on #22
Hi @sadortun, switching teams on mobile should be fixed in Mattermost v3.0 (releasing May 16th). If you hit this issue on v3.0, please re-open?

[2016-05-05 22:24] #22 closed

[2016-05-05 22:38] sadortun commented on #22
Wow, they are going to run out of major version fast if they already jump to 3.x ! Thanks!

[2016-05-06 06:02] mackelito commented on #26
https://mattermost.uservoice.com/forums/306457-general/suggestions/13752930-remove-the-toolbar-when-sending-message-the-done

[2016-05-06 06:02] #26 closed

[2016-05-06 06:04] mackelito commented on #7
I agree that this would be a good feature! We are a company of 250-300 ppl and our setup is one team in mattermost but then each team has it´s own channel.

Post a request here https://mattermost.uservoice.com/forums/306457-general

[2016-05-06 06:05] mackelito commented on #26
For reference:
https://mattermost.uservoice.com/forums/306457-general/suggestions/10975914-ios-keyboard-improvements
https://github.com/mattermost/platform/issues/1607

[2016-05-11 14:51] it33 commented on #7
Jira ticket opened to track this: https://mattermost.atlassian.net/browse/PLT-2934

Mobile apps in 3.0 can now connect to multiple teams, the work remaining is to auto-select a team if a user only has one team.

Closing this ticket so we can track in Jira.

[2016-05-11 14:51] #7 closed

[2016-05-11 15:04] mackelito commented on #7
Is there a way to track in your jira? Or do I have to create an account?

[2016-05-11 15:15] it33 commented on #7
You need to create an account,

[2016-05-11 15:19] mackelito commented on #7
😢

[2016-05-27 17:35] fjarlq opened #27 "iOS app renders screen with blank boxes instead of text"
#### Summary
Upon opening the iOS app, blank boxes are seen where the conversation text should be.

#### Steps to reproduce
1. Install the iOS Mattermost app version 3.0 onto an iPhone 6s running iOS 9.3.2. (I haven't tested other iOS devices)
2. Connect the app to a Mattermost server version 3.0.2 and log in.
3. Open the app.
4. Rarely, observe the app rendering blank boxes instead of text.
5. No

[2016-06-09 18:48] lfbrock commented on #27
Hi @fjarlq, we've been keeping an eye out for this issue, but haven't been able to reproduce it yet.

If anyone else from the community is seeing this, please post here and let us know?

[2016-07-11 12:40] nik-ffm opened #31 "First Time Login Process jumps bag an app switch"
I try to log into my companies mattermost. Therefore I need the two-factor authentication and this is working using Google Authenticator. So after the login using GitLab it asks me two enter the code. I switch the app the google authenticator, copy the number and switch back to the mattermost app. At that point the app jumps back to the first login screen, so I can't enter my two-factor code. This

[2016-07-21 16:50] lfbrock commented on #27
Closing this issue, if people are still seeing it please reopen.

[2016-07-21 16:50] #27 closed

[2016-07-21 16:52] lfbrock commented on #31
Hi @nik-ffm, what version of Mattermost/the iOS app are you using? Can you see if this still happens with the latest version of the app?

Also I don't think Mattermost MFA is supported with GitLab, there should be MFA on your GitLab account directly?

[2016-07-25 06:31] nik-ffm commented on #31
@lfbrock I'm using the newest version and still have the same problem - but I found a way to get it running. I just copies and key before going to mattermost and than hurried a bit to get the login done...

[2016-07-25 13:28] lfbrock commented on #31
Thanks @nik-ffm, I was able to reproduce it on master.

I filed a ticket here to track the issue: https://mattermost.atlassian.net/browse/PLT-3716

I'm going to close this GitHub issue + we'll track the bug in Jira

[2016-07-25 13:28] #31 closed

[2016-08-15 11:11] jakespencer opened #36 "SSO with GitLab no longer works"
When using the Mattermost bundled with GitLab the sign in with GitLab button leaves the app and opens in Safari so you are unable to sign in via the iOS app.

I don't believe this is an issue with GitLab/Mattermost server as on Android it is fine.

[2016-08-16 15:44] GhostLyrics commented on #36
This issue can be worked around by (sometimes) waiting for some time to let some timeout trigger and logging in again. It definitely can be worked around by reinstalling the app.

I sporadically have the same issue but don't know how to reproduce it reliably.

[2016-08-18 20:36] lfbrock commented on #36
@jakespencer, what version of the iOS app and Mattermost server are you on?

There's a new v3.3 iOS app that was just released, can you:
1) Try using the v3.3 iOS app that just released
2) Try creating an account on gitlab.mattermost.com, and test if the app works with that?

I just tested with gitlab.mattermost.com and it seemed to be working fine for me.

[2016-08-19 06:05] jakespencer commented on #36
@lfbrock I took @GhostLyrics advice which worked, so can't really confirm if the update solves the issue or not. I suspect it is something to do with the login expiring on Mattermost which is set to 30 days at the moment and then some kind of session data left behind on the client which breaks stuff but I have not had a chance to look into it really.

[2016-08-30 08:48] abcdev opened #37 "Screen stays all white after startup (iOS 10 beta)"
I have noticed that in the latest iOS 10 betas (iPhone 5s) the screen stays white after startup.
Reinstalling the app helps up to point 3 mentioned below... this is a big pain

Steps to reproduce:
  1. Fresh install of the the app
  2. Sign in to a server and have a chat
  3. Restart iPhone or forcefully close the app
  4. Open app again

[2016-09-02 15:00] it33 commented on #37
Hi @abcdev,

We're having difficult reproducing the issue. Could we ask your help to create an account on pre-release.mattermost.com and see if it happens there?

[2016-09-05 10:24] abcdev commented on #37
This issue stopped occurring after we moved from a self-signed to an "officially" signed one. The Server is running CentOS 6, Apache 2.4 (self-signed cert). MySQL 5.7.14.

[2016-09-14 21:54] #36 closed

[2016-09-14 21:55] #37 closed

[2016-10-02 18:32] KittBlog opened #39 "Sending without using Enter is annoying"
Currently you can’t use Enter/Return to send a message in the native app. This is really annoying and different to any other app I know (Messages, Slack, HipChat, Hangouts, WhatsApp and so on…).

I would highly recommend to change this behavior as sending a message easily is much more important than create a new line on mobile devices.

[2016-10-03 22:18] InterHmai commented on #36
Hey, I still see this with 3.4.0. It's pretty frustrating and generally happens when your connection goes out while opening the app after you are already logged in. I want to also say it occurs after your session credentials have expired.

[2016-10-05 00:44] lfbrock commented on #36
Hi @InterHmai, I was able to reproduce this happening after the session credentials expire, thanks for the clear repro.

I made a ticket here for someone to look into the issue: https://mattermost.atlassian.net/browse/PLT-4349

[2016-10-05 08:08] jimiatworking opened #40 "any plan to joing appconfig.org"
Hi, I would like to know that does there any plan to make mattermost support AppConfig (http://appconfig.org/) that we could configu for Enterprises use. e.g: EMM support.

[2016-10-10 08:50] JJJ opened #41 "GitLab auth does not redirect back to native iOS app"
When logging in via GitLab from the Mattermost iOS app, I'm sent to Safari & my GitLab installation to login/verify the connection, but once that's done, I'm never redirected back to the iOS app. Instead, Mattermost loads in the same Safari tab GitLab was in, leaving the native iOS app unauthenticated, and basically crippled.

It's plausible I missed some redirect configuration somewhere, because

[2016-10-10 13:09] GhostLyrics commented on #41
Possibly a duplicate of #36

[2016-10-10 13:40] JJJ commented on #36
This is my experience, also. To be clear, it's after the Mattermost session has expired. It makes no difference if your GitLab session is still good or not.

1. If your GitLab session is not good, you'll see the GitLab sign-in screen
1. If your GitLab session is good, you'll see the Mattermost teams screen

[2016-10-17 02:52] wrbluepearl commented on #36
I'm also seeing this problem - pretty frustrating, though deleting/reinstalling the application does seem to "fix" the problem for me.

[2016-10-31 20:45] lfbrock commented on #39
Hi @KittBlog - I think that Enter does create a new line in Whatsapp and iMessage (on iOS10).

That being said, maybe we could add a setting to control the behaviour on our [new mobile apps](https://forum.mattermost.org/t/fyi-project-underway-to-increase-mobile-app-performance-on-slow-internet-connections-using-react-native/2219). If you'd like to open a [feature suggestion](https://www.mattermost

[2016-10-31 20:47] lfbrock commented on #40
Hi @jimiatworking - there's no plans at this point in time, would you be willing to add a [feature request](https://www.mattermost.org/feature-ideas/) for it so we can see if it's something other people need as well?

[2016-10-31 20:56] lfbrock commented on #41
Hi @JJJ - I think this might be caused by sessions expiring, we have a ticket here to look into the issue: https://mattermost.atlassian.net/browse/PLT-4349

To check, can you try uninstalling and then reinstalling the app to see if it fixes the issue for you?

[2016-10-31 21:52] JJJ commented on #41
This did fix it for me, in macOS and iOS.

[2016-11-10 14:43] rkopplin opened #44 "proxy settings ios app"
Hello,

is there a way to set up proxy settings + port to connect to the mattermost server URL?
Maybe in a future update?

Many thanks

[2016-11-11 19:00] elyscape opened #45 "Support for custom notification sounds"
If an app doesn't provide any custom notification sounds, all notifications for the app use the default Tri-tone sound. It would be nice if the app offered a choice of notification sounds.

[2016-11-12 00:07] thos37 opened #46 "Support for IOS 8.x"
I am attempting to get a group to use Mattermost, but one person is running iOS 8.x.  Is there any reason why the app in the app store is 9.x and up?  I tried building it for 8.x and it appears to run ok. ...

[2016-11-14 15:04] jasonblais commented on #39
@KittBlog, if you're interested [opening a feature suggestion](https://www.mattermost.org/feature-ideas/), the idea can be upvoted, discussed and prioritized with the community.

Each member gets 10 votes on the feature idea forum, influencing the future of the Mattermost software.

[2016-11-14 18:42] #39 closed

[2016-11-14 18:47] jasonblais commented on #41
Thanks @JJJ, glad to hear!

Closing to track in Jira instead https://mattermost.atlassian.net/browse/PLT-4349

[2016-11-14 18:47] #41 closed

[2016-11-14 18:48] jasonblais commented on #40
Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

Please include a link back to this GitHub Issue. If you're interested in implementing, please say so and we'll prioritize the rev

[2016-11-14 18:48] #40 closed

[2016-11-15 06:16] elyscape opened #47 "Tapping send button dismisses keyboard"
When you tap the send button in the Mattermost app, it dismisses the keyboard. This is less than ideal if, say, you're having a conversation instead of making a one-off comment.

[2016-11-16 17:11] MartinDelille opened #48 "Application stuck if the server is down"
If the server previously configured for the application is down, launching it leads to this screen:

![2016-11-16 18 07 41](https://cloud.githubusercontent.com/assets/879889/20357350/e7c1fbf8-ac27-11e6-935c-48f4973c97cd.png)

In my case I had changed the server URL and the only way to change the URL was to erase the application and install it again.

Maybe there should be a better fallback in this

[2016-11-16 23:03] elyscape commented on #47
Duplicate of mattermost/platform#4189 aka [PLT-4376](https://mattermost.atlassian.net/browse/PLT-4376), which was fixed in version 3.5.0 of the platform.

[2016-11-16 23:03] #47 closed

[2016-11-21 22:50] lfbrock commented on #45
Hi @elyscape - can you make a feature request for this on our [feature request forums](https://mattermost.uservoice.com/forums/306457-general)?

We're working on a new mobile app at the moment, so it's probably easiest to track this as a feature request and then look at adding it in the new mobile apps.

[2016-11-21 22:59] lfbrock commented on #44
Hi @rkopplin - not sure what you mean here? Can you explain some more?

[2016-11-21 23:12] lfbrock commented on #46
Hi @thos37 - we're only able to support and test iOS 9+, I don't think anyone has tested on iOS 8 to confirm what works or doesn't work. I think iOS 8 makes up <2% of the market share for iPhones, so I'm not sure if it's something we'll add support for at this point in time.

[2016-11-22 09:10] rkopplin commented on #44
its possible to use a http proxy server in some apps to define url / port and authentification to connect via this setup to some network.

our mattermost application is only internal so there isnt a way to connect without a proxy server to our network  and use the mattermost app.

http://stackoverflow.com/questions/32435074/ios-http-proxy-setting-api

[2016-11-22 23:07] elyscape commented on #45
[Done](https://mattermost.uservoice.com/forums/306457-general/suggestions/17213822-use-custom-notification-sound).

[2016-11-24 13:31] chiel1980 commented on #19
I know this is an old issue but I got the same behaviour using the latest mattermost from git (pulled 24 november 2016) and using iOS 10.1.1.
Mattermost with Nginx proxy and docker containers, version info:
[code]

It did connect the first time, but after a while it just turned into the white screen.
Restart of iOS, reinstall of the app did not work. I can enter my servername but after that I get

[2016-11-24 16:43] AimenJoe opened #49 "There is no way to go back once you opened the link"
When I tried to open a link to gitlab, it rendered inside of the app, not opening new browser. So it's stucked there and can't comeback to Mattermost.
It made the app unsusable, because whenever you open the link, you need to force quit and restart the app to go back.

Tested on iPhone7, iOS 10.1.1
App version 3.5

Maybe it's related with other [issue](https://github.com/mattermost/desktop/issues/

[2016-11-30 08:31] qkdreyer commented on #49
+1 we're currently not able to use the app anymore since the GitLab login button is opening the GitLab login URL in the browser app Instead of staying in the Mattermost app.

[2016-11-30 21:44] yangchen1 commented on #45
Great, thank you @elyscape!

[2016-11-30 22:02] yangchen1 commented on #48
Hey @MartinDelille, thanks for reporting it! We'll track this issue in JIRA:

https://mattermost.atlassian.net/browse/PLT-4837

[2016-11-30 22:23] #45 closed

[2016-12-01 13:24] MartinDelille commented on #48
<img width="532" alt="capture d ecran 2016-12-01 a 14 24 00" src="https://cloud.githubusercontent.com/assets/879889/20795525/e7f7d876-b7d1-11e6-8a69-d9f7d8406957.png">

[2016-12-01 13:30] enahum commented on #48
Sorry @MartinDelille I made the ticket public

[2016-12-01 20:07] IvandaNothabeer opened #50 "Popup Keyboard opens when selecting a channel"
Whenever a new channel is selected in the left menu bar, the popup keyboard opens in preparation for sending a new message.

Same behaviour occurs in a browser on iOS.

This behaviour makes changing channels annoying as the channel list is now hidden and the user must close the keyboard if they want to change channeks again before replying. The popup keybard also limits the number if messages disp

[2016-12-05 14:23] yangchen1 commented on #44
Hey @rkopplin - you can't do this though the app, unfortunately! You should be able to send your traffic though a proxy in iOS though. In the meanwhile, feel free to send a feature request on our [UserVoice](https://mattermost.uservoice.com)!

[2016-12-05 19:25] #46 closed

[2016-12-12 14:32] jasonblais commented on #48
Thanks again @MartinDelille, I'll close this issue and we can track the issue in JIRA: https://mattermost.atlassian.net/browse/PLT-4837

[2016-12-12 14:32] #48 closed

[2016-12-12 22:29] jasonblais commented on #49
@AimenJoe would you have a sample link for us to try? Does this reproduce for all GitLab links, or only a few?

[2016-12-12 22:31] jasonblais commented on #49
@qkdreyer I think yours might be caused by sessions expiring, we have a ticket here to look into the issue: https://mattermost.atlassian.net/browse/PLT-4349

Can you try uninstalling and then reinstalling the app to see if the problem is resolved?

[2016-12-12 22:35] AimenJoe commented on #49
@jasonblais Maybe it caused we are using mattermost in the same domain as gitlab instance. The external links working fine, only the gitlab links doesn't work.

Gitlab installed on : `http://abcd.ab:8000`
Mattermost installed on : `http://abcd.ab:9000`

Sorry that I can't give you the real link since its private..

Thank you.

[2016-12-13 01:12] jasonblais commented on #50
Thanks @IvandaNothabeer for the report,

Can you try updating to the latest Mattermost iOS App version, available from the App Store, if you already haven't?

Mattermost iOS App v3.5 had multiple improvements around when the keyboard opens.

If you already updated to the latest iOS app, can you help answer the following two questions:
1) Which Mattermost server version do you have? This can be fou

[2016-12-13 06:29] qkdreyer commented on #49
@jasonblais you were totally right, reinstalling fixed the problem. Thanks :)

[2016-12-14 11:04] IvandaNothabeer commented on #50
I do have the latest version of the Mattermost iOS App.

- Server version is 3.5.1 (latest)
- iPad iOS 9.3.5  (latest)

As I said, this behaviour also occurs on a browser ( I tested  Safari, Chrome, Dolphin ) Its not just confined to the mattermost iOS app.

[2016-12-15 03:56] jasonblais commented on #50
Has there been any recent changes to the functionality, or has it always been that way?

Wondering if it's an issue on iPad devices -- does anyone else in the community use Mattermost on iPad, and have they seen it reproduce?

Thanks @IvandaNothabeer for the report, hopefully we can find the root cause for this soon

[2016-12-15 04:10] jasonblais commented on #49
Hmm, thanks @AimenJoe, let me check with our devs and get back to you

[2016-12-15 16:48] jasonblais commented on #50
Actually, @IvandaNothabeer, would you or your team have another iOS device (say an iPhone or an iPod) that you could test?

That could help us determine whether it happens across iOS devices or just iPad for you.

[2017-01-10 00:16] jasonblais commented on #44
Hey again @rkopplin, appreciate your feedback

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

Please include a link back to this GitHub Issue. If you're interested in implement

[2017-01-10 00:16] #44 closed

[2017-01-30 13:26] jasonblais commented on #49
Hey @AimenJoe, really sorry for the delay..

Can you help upgrade to Mattermost 3.6, available on [our download page](https://about.mattermost.com/download), and see if the issue persists?

If it does, please let me know

[2017-01-31 09:01] AimenJoe commented on #49
@jasonblais It's still same. When I open the link from Gitlab which is installed same domain with different port, it opens inside of webview.

[2017-02-06 00:45] AimenJoe opened #52 "Empty name on notifications"
When we get the notification, the name is blank.
I can only assume the reason, that might be related with encoding.
Only the name is the changeable part in the payload. This is why I think this issue caused from the encoding.
In my case, the name was Korean characters.
Can you please check this out?

I'm aware of that this is not from the mobile app part, but the server-side. However, it is also n

[2017-02-20 18:23] lindy65 commented on #52
Hi @AimenJoe,

I have tried to reproduce the issue on iOS but wasn't able to.

Could you tell me which name field you are referring to (e.g. username, nickname, etc.) that does not appear in the push notification?

Please also let me know whether changing that name field to English characters reproduces the same error for you.

Thanks!

[2017-02-21 00:27] AimenJoe commented on #52
Thank you for your response, @lindy65

Sorry for making you confused.
It seems the problem of integration of gitlab. The name comes from the gitlab triggered messages.
Other messages are coming without problem (it shows username correctly).
But the gitlab triggered message omitted the name field if it's not english characters.
I don't know who should handle this issue, Mattermost or Gitlab..
You c

[2017-02-21 13:14] jasonblais commented on #49
@AimenJoe we're having some trouble reproducing the issue and we suspect it might be a problem on the GitLab side.

Would you like to post this in the [GitLab troubleshooting forums instead](https://forum.gitlab.com/c/troubleshooting)?

[2017-02-21 17:09] lindy65 commented on #52
Hi @AimenJoe,

If it seems to be a GitLab integration problem, you could try posting your issue to the [GitLab Troubleshooting Forum](https://forum.gitlab.com/c/troubleshooting) where you might find some answers?

[2017-03-22 15:13] #52 closed

[2017-04-06 22:37] migue1s opened #53 "Attach_device not working"
I'm currently on iOS 10.x, compiling release/3.5 for the iOS app and have a GitLab mattermost server 3.7. Most features work correctly except for the `attach_device` endpoint.

I get the following error after that endpoint is being called:

[2017-04-06 23:02] lfbrock commented on #53
Hi @migue1s - when are you getting that error?

Nothing has changed there, so not sure what could be causing it. Push notifications are working on the compiled apps in the app store, so the attach_device seems to be working for us

[2017-04-07 13:54] migue1s commented on #53
I am getting the error as soon as I log in or restart the app. It seems like many requests are being sent to that endpoint but after a while they will all error out with that json.

[2017-04-12 23:24] PrestonL opened #54 "Swift 3 / Xcode 8 Support"
This branch hasn't been updated for Swift 3 / Xcode 8 # # @

[2017-04-13 03:35] PrestonL commented on #54
I have converted the project and fixed issues, this fork compiles and works, additional testing is required, but it seems to compile/run fine.  A few issues are mentioned in the pull request.

https://github.com/mattermost/ios/pull/55

[2017-04-14 16:12] lindy65 commented on #49
Closing this issue due to inactivity. Please reopen if the issue is still unresolved.

[2017-04-14 16:14] lindy65 commented on #50
Closing this issue due to inactivity. Please reopen if the issue is still unresolved.

[2017-04-19 13:05] enahum commented on #53
have you tried to hit the above url manually? if so what response do you get?

[2017-04-19 21:10] #49 closed

[2017-04-19 21:11] #50 closed

[2017-04-21 14:30] migue1s commented on #53
I get the same response as doing it via iOS @enahum. The team/userId isn't being sent, however I tried to manually look them up in the UserDefaults and they simply are never being set nor are they set to be part of the body of the request either... I'm doing a Gitlab login by the way.

![postman](https://cloud.githubusercontent.com/assets/6880267/25281934/f692220a-267c-11e7-9537-352eeab7ed96.png)

[2017-04-21 14:51] migue1s commented on #53
Further testing revealed that this doesn't happen with email/pass auth, only when logging in through gitlab.

[2017-04-26 09:18] lindy65 commented on #53
Hi @migue1s,

The GitLab login for Mattermost was fixed with version 3.8 released April 16th.  Are you still experiencing a problem?

I'm not sure whether GitLab has updated yet but that might be the problem is you're still experiencing this.

[2017-04-28 15:12] coreyhulen commented on #54
Thanks for the PR I think it's worth upgrading the code base to the latest swift/xcode.  This might take us a while to review and merge.  We've been focused on the new apps and the old apps are only receiving minimal support at the moment.

[2017-05-10 09:12] lindy65 commented on #53
Hi @migue1s,

Circling back to find out how it's going and whether your issue is solved?

[2017-05-22 16:31] #54 closed

[2017-05-31 08:37] lindy65 commented on #53
Closing this issue off due to inactivity.  Please feel free to reopen it if you are still experiencing issues.

[2017-05-31 08:37] #53 closed

[2017-06-19 10:54] kaksikanaa opened #56 "No voicemail in iOS app"
In android user can record a voicemail to another user straight forward but this is not possible in the iOS app and you cant even attach a voice recording from the voice recorder library?

[2017-06-28 12:29] jasonblais commented on #56
Thanks @kaksikanaa , appreciate your feedback.

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

Please include a link back to this GitHub Issue. If you're interested in implemen

[2017-07-13 16:50] fmp777 opened #60 "No image management features"
When an image is shared in the app, you can't "download" it to the device library, nor copy, nor share.  This might be considered a feature request, but in today's standards, is likely better classified as a bug.

[2017-07-13 16:52] fmp777 opened #61 "Integrate with IOS Sharing (feature)"
Would be nice to have deeper IOS integration.  Here is Apple's guide:
https://developer.apple.com/library/content/documentation/General/Conceptual/ExtensibilityPG/Share.html

[2017-07-26 09:22] lindy65 commented on #56
Hi @kaksikanaa,

We haven't received an update so I'll close this issue off for now. Please consider [contributing this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) :)

[2017-07-26 09:22] #56 closed

[2017-07-26 09:28] lindy65 commented on #60
Thanks @fmp777, appreciate your feedback.

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

Please include a link back to this GitHub Issue. If you're interested in implementing,

[2017-07-26 09:30] lindy65 commented on #61
Thanks @fmp777, appreciate your feedback.

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

Please include a link back to this GitHub Issue. If you're interested in implementing,

[2017-08-02 08:54] lindy65 commented on #60
Hi @fmp777, we haven't received an update so we'll assume you've opened a request on the feature idea forum.

I'll close this issue off here for now.

[2017-08-02 08:54] #60 closed

[2017-08-02 08:55] lindy65 commented on #61
Hi @fmp777, we haven't received an update so we'll assume you've opened a request on the feature idea forum.

I'll close this issue off here for now.

[2017-08-02 08:55] #61 closed